<html>
<head>
<title>Welcome</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="">
		<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	<form action="/ssearch" method='POST'>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{Name}}</button>
		<div class="dropdown-content">
			<a href="/add">Add a Product</a>
			<a href="/remove">Remove a Product</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>

</div>
<div class="display">

	<div>
		<h2>Items</h2>
		{% for data in itemData %}
		<table>
			<tr id="productName">
				{% for row in data %}
				<td>
					{{row[1]}}
				</td>
				{% endfor %}
			</tr>
			<tr id="productImage">
				{% for row in data %}
				<td>
					<a href="/sellerproductDescription?productId={{row[0]}}">
						<img src={{ url_for('static', filename='uploads/' + row[4]) }} id="itemImage" />
					</a>
				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in data %}
				<td>
					${{row[2]}}
				</td>
				{% endfor %}
			</tr>
		</table>
		{% endfor %}
	</div>
</div>
</body>
</html>
